.authBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerCard{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.marginBottom{
    margin-bottom: 7px;
}