.contentText{
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}
.Card{
    display: flex;
    justify-content: center;
}
.CardButton{
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
    margin-right: 15px;
}
.head{
    display: flex;
    justify-content: end;
    margin: 5px;
}
.centerCreateCard{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.headButtons{
    display: flex;
    height: 40px;
}
.cardText {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.cardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0px;
    align-items: center;
}
.deleted{
    display: none;
}